footer {
    background-color: black;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

@media screen and (min-width:200px) {
    footer {
        height: 30px;
        padding-top: 5px;
        margin: 5px;
        font-size: 9px;
    }
}

@media screen and (min-width:900px) {
    footer { 
        height: 40px;
        padding-top: 10px;
        margin: 5px;
        font-size: 15px;
    }
}