footer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
 }

@media screen and (min-width:200px) {
    footer {
        height: 30px;
        padding-top: 5px;
        margin: 5px;
        font-size: 9px;
    }
}

@media screen and (min-width:900px) {
    footer { 
        height: 40px;
        padding-top: 10px;
        margin: 5px;
        font-size: 15px;
    }
}