ul#Secciones {
    list-style: none;
    padding: 0;
}

ul li a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    color: rgb(226, 92, 22);
    text-shadow: 1px 1px 2px rgb(214, 104, 0);
}
ul li a:link {
    text-decoration: none;
    color: rgb(226, 92, 22);
    text-shadow: 1px 1px 2px rgb(226, 92, 10);
}

ul li a:hover {
    text-shadow: 1px 1px 2px black;
}

.grilla1{
    background-color: black;
    display: grid;
    grid-template-areas: 
    "AreaSecc Areaimg ";

    grid-template-columns: auto 20% ;
}

.Navigation{
    display: flex;
    flex-direction: column;
}

.Hamburger{
margin-top: 3%;   
position: absolute;
left:5%;
cursor: pointer;
}


#Secc{
    text-align: left;
    grid-area: AreaSecc;
}

#div-logo {
    margin: auto;
    z-index: 100;
    position: relative;
    grid-area: Areaimg;
}

 @media screen and (min-width:200px){
    .grilla1{
        grid-template-rows: 45px;
    }
    .Hamburger{
        size: 20px;
    }
    ul#Secciones {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        left: 5%;
        background-color: black;
        border-top: 6px solid rgb(226, 92, 22); 
        z-index: 100;
        align-items: flex-start;
        padding-right: 2%;
    }

    ul#Secciones li {
        float: left;
        text-align: center;
    }

    ul#Secciones li a {
        margin-left: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 10px;
    }

    #div-logo img{
        width: 75px;
        
    } 
}

@media screen and (min-width:900px) {

    .grilla1{
        grid-template-rows: 120px;
    }
    ul#Secciones {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 111px;
        left: 5%;
        background-color: black;
        border-top: 6px solid rgb(226, 92, 22); 
        z-index: 100;
        align-items: flex-start;
        padding-right: 2%;
    }

    /* .Navigation{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 5%;
    } */

       ul#Secciones li a {
        font-size: 30px;
    }

    #div-logo img{
        width: 200px;
        margin: 1%;
    }
    /* CSS Para computadora */
}