#ConsultasStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    height: 500px;
}

#div-contacto {
    background-color: rgb(255, 255, 255);
    width: 800px;
    padding-left: 3%;
    margin-top: 250px;
}

#formulario{
    margin-top: 20px;
    border-color: black;
    box-shadow: rgb(203, 203, 203);
}

