.App {
    background-color: rgb(255, 255, 255);
}
#inicio {
    margin: 0;
    background-image: url("../../../../public/Imagenes/IronBoxingClub.jpg");
    background-position: no-repeat;
    background-position: center center;
    background-size: contain;
    /* background-attachment: fixed; */
    background-color: white;
    position: relative;
    grid-area: ImgPrinc;
}


#inicio:hover {
    transform: scale(1.01);
    filter: grayscale(70%);
    transition: all 0.3s ease;
}

#inicio h1 {
    visibility: hidden;
}

#inicio:hover h1 {
    visibility: visible;
    position: absolute;
    z-index: 6;
    /* display: block; */
    color: white;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}



#imagenes{
    grid-area: Imgs;
    display: flex;
    justify-content: space-evenly;
    margin:0;
    background-color: white;
      
}

#imgportada{
   
    margin: 2rem;  
    height: 350px;
}

#redes{
    grid-area: redes;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
}

#logoRedes{
    width: 50px;
    height:50px;
}

.formulario p {
    color: rgb(44, 31, 27);
    display: flex;
    margin-left: 4%;
}

.formulario p label {
    color: rgb(44, 31, 27);
    display: flex;
    align-items: center;
}

.formulario p input {
    width: 70%;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea {
    width: 90%;
    margin-right: 5px;
    resize: none;
}

.formulario input[type="submit"] {
    background: #2e64a1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    width: auto;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.formulario input[type="submit"]:hover {
    background-color: #6da9ed;
}

 @media screen and (min-width:200px){
    #grillainicio{
        display: grid;
        grid-template-areas:
        
        "ImgPrinc ImgPrinc"
        "Mapa     Mapa"
        "Contacto Contacto";

        grid-template-columns: auto ;
        grid-template-rows:  200px auto auto;
    }
    #inicio:hover h1 {
        bottom: 4em;
        left: 1.4em;
    }

    .formulario p label {
        min-width: 80px;
    }

    .formulario textarea {
        height: 50px;
    }

    .formulario input[type="submit"] {
        font-size: 8px;
        padding: 2px 8px;
        left: 5rem;
    }
}


@media screen and (min-width:900px) {
    #grillainicio{
        display: grid;
        grid-template-areas:
        
        "ImgPrinc ImgPrinc ImgPrinc"
        "Imgs Imgs Imgs"
        "redes redes redes";
        gap: 2px;
        grid-template-columns: auto 33% 33%;
        grid-template-rows: 580px auto 80px;
    }
    #inicio:hover h1 {
        bottom: 4em;
        left: 1.4em;
    }

    .formulario p {
        display: flex;
    }

    .formulario p label {
        min-width: 80px;
    }

    .formulario textarea {
        height: 100px;
    }

    .formulario input[type="submit"] {
        font-size: 16px;
        padding: 6px 20px;
        left: 5rem;
    }
}