.App {
    background-color: rgb(255, 255, 255);
}
#titulosecc2 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;

}

#cuerposecc2{
    background-image: url("../../../../public/Imagenes/Picsart_22-09-05_20-33-31-537.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    /* padding: 10%; */
    padding-top:0;
}



#titulosecc2{grid-area: Titulo;}
#Profe1{grid-area: P1;}
#Profe2{grid-area: P2;}
#Profe3{grid-area: P3;}
#Profe4{grid-area: P4;}
#Profe5{grid-area: P5;}
#Profe6{grid-area: P6;}
#Profe7{grid-area: P7;}
#Profe8{grid-area: P8;}
#Profe9{grid-area: P9;}

.grillaprofes {
    display: grid;
}
.grillaprofes img{
    justify-content: center ;
}
.grillaprofes div{
    text-align: center;
}

.grillaprofes h2 h3 Link{
    color: purple;
    text-shadow: rgb(40, 40, 40);
    background-color: white;
    visibility: hidden;
}

 @media screen and (min-width:200px){
   
    .grillaprofes{
        display: grid;
        grid-template-areas:
        "Titulo"
        "P1" 
        "P2"
        "P3"
        "P4" 
        "P5"
        "P6"
        "P7" 
        "P8" 
        ;
        grid-column: 100%;
        grid-template-rows:auto;
    }

    #titulosecc2 {
        margin: 2px;
    }
}


@media screen and (min-width:900px) {
    .grillaprofes{
        display: grid;
        grid-template-areas:
        "Titulo Titulo Titulo Titulo Titulo"
        "P1 P2 P3 P4 "
        "P5 P6 P7 P8 "
        ;

        grid-column: 25% 25% 25% 25%;
        grid-template-rows: 100px auto auto;
    }
    #Profe1:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }
    #Profe2:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }
    #Profe3:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }
    #Profe4:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }
    #Profe5:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }
    #Profe6:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }
    #Profe7:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }
    #Profe8:hover h2 h3 Link{
        color: purple;
        visibility: visible;
    }


    #titulosecc2 {
        margin: 10px;
    }
}