.App {
    background-color: rgb(255, 255, 255);
}
#titulosecc2 {
    text-align: center;
    color: purple;
    text-shadow: 1px 1px 2px  rgb(40, 40, 40);
}

#cuerposecc2{
    background-image: url("../../../../public/Imagenes/Picsart_22-09-05_20-33-31-537.jpg");
    height: 100%;
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding-top:0;
    text-align: center;
}



#titulosecc2{grid-area: Titulo;}
#Profe1{grid-area: P1;}
#Profe2{grid-area: P2;}
#Profe3{grid-area: P3;}
#Profe4{grid-area: P4;}
#Profe5{grid-area: P5;}
#Profe6{grid-area: P6;}
#Profe7{grid-area: P7;}
#Profe8{grid-area: P8;}


.grillaprofes {
    display: grid;
}
.grillaprofes img{
    justify-content: center ;
}
.grillaprofes div{
    text-align: center;
}

#profesores h2 {
    color: purple;
    text-shadow: 1px 1px 2px  rgb(40, 40, 40);
    background-color: rgb(255, 255, 255);
}
#profesores h3{
    color: purple;
    text-shadow: rgb(40, 40, 40);
    background-color: white;
}
#profesores .Link{
    color: purple;
    text-shadow: rgb(40, 40, 40);
    background-color: white;
}

 @media screen and (min-width:200px){
   
    .grillaprofes{
        display: grid;
        grid-template-areas:
        "Titulo"
        "P1" 
        "P2"
        "P3"
        "P4" 
        "P5"
        "P6"
        "P7" 
        "P8" 
        ;
        grid-column: 100%;
        grid-template-rows:auto;
    }

    #profesores h2 {
        visibility: visible;
    }
    #profesores h3{
        visibility: visible;
    }
    #profesores .Link{
        visibility: visible;
    }
 
    #titulosecc2 {
        margin: 2px;
    }

    #iconos{
        scale: 0.5;
    }
}


@media screen and (min-width:900px) {
    .grillaprofes{
        display: grid;
        grid-template-areas:
        "Titulo Titulo Titulo Titulo"
        "P1 P2 P3 P4 "
        "P5 P6 P7 P8 "
        ;

        grid-column: 25% 25% 25% 25%;
        grid-template-rows: 100px auto auto;
    }
    #profesores h2 {
        visibility: hidden;
    }
    #profesores h3{
        visibility: hidden;
    }
    #profesores .Link{
        visibility: hidden;
    }

    #Profe1:hover h2{ visibility: visible; }
    #Profe1:hover h3{ visibility: visible; }
    #Profe1:hover .Link{ visibility: visible; }

    #Profe2:hover h2{ visibility: visible; }
    #Profe2:hover h3{ visibility: visible; }
    #Profe2:hover .Link{ visibility: visible; }

    #Profe3:hover h2{ visibility: visible; }
    #Profe3:hover h3{ visibility: visible; }
    #Profe3:hover .Link{ visibility: visible; }

    #Profe4:hover h2{ visibility: visible; }
    #Profe4:hover h3{ visibility: visible; }
    #Profe4:hover .Link{ visibility: visible; }

    #Profe5:hover h2{ visibility: visible; }
    #Profe5:hover h3{ visibility: visible; }
    #Profe5:hover .Link{ visibility: visible; }

    #Profe6:hover h2{ visibility: visible; }
    #Profe6:hover h3{ visibility: visible; }
    #Profe6:hover .Link{ visibility: visible; }

    #Profe7:hover h2{ visibility: visible; }
    #Profe7:hover h3{ visibility: visible; }
    #Profe7:hover .Link{ visibility: visible; }

    #Profe8:hover h2{ visibility: visible; }
    #Profe8:hover h3{ visibility: visible; }
    #Profe8:hover .Link{ visibility: visible; }
    
    #titulosecc2 {
        margin: 10px;
    }
    #iconos{
        scale: 1;
    }
}